* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}
body {
  background-color: #ccc;
}
header img {
  width: 10em;
  height: 7em;
}
.cards {
  margin-left: 25%;
  width: 50%;
  position: relative;
  text-align: center;
}
.card {
  padding: em 0;
  height: 30em;
  box-shadow: 5px 5px 10px rgb(17, 17, 17);
  border-radius: 15px;
  margin-top: 3em;
}
h1 {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  margin-top: 2em;
}
.selector {
  width: 70%;
  font-family: "Fredoka", sans-serif;
  margin-top: 2em;
  height: 3em;
  border-radius: 2.5em;
  border: 0;
  cursor: pointer;
}
.repo {
  margin-top: 2em;
  font-family: "Fredoka", sans-serif;
  cursor: pointer;
}
button {
  padding: 25px;
  border-radius: 15px;
  background-color: #41e30b;
  border: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.one {
  width: 100%;
  height: 100%;
  background-image: url(/IMAGES/shutterstock_1255238491.jpg);
  background-size: cover;
  border-radius: 15px;
}
.two {
  width: 100%;
  height: 100%;
  background-image: url(/IMAGES/rechauffer-avec-un-four1.jpeg);
  background-size: cover;
  border-radius: 15px;
}
.three {
  width: 100%;
  height: 100%;
  background-image: url(/IMAGES/Lave-linge-machine-à-laver.jpg);
  background-size: cover;
  border-radius: 15px;
}
.four {
  width: 100%;
  height: 100%;
  background-image: url(/IMAGES/choisir-un-refrigerateur-et-un-congelateur-separes..jpg);
  background-size: cover;
  border-radius: 15px;
}
.ecr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 3em;
}
a {
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(17, 17, 17);
}
footer {
  margin: 1em 1em;
  font-family: "Fredoka", sans-serif;
}
button:hover{
  cursor: pointer;
}
input:hover{
  cursor: pointer;
}

